[submodule "lib/caption_stream/speech_apis/google_http_older/thirdparty/plibsys"]
	path = lib/caption_stream/speech_apis/google_http_older/thirdparty/plibsys
	url = git@github.com:saprykin/plibsys.git
